bin
dist
.terraform
**/terraform.tfstate.backup
pulumi-tool-terraform-migrate
**/.terraform.lock.hcl

# Local direnv config (copy from .envrc.example)
.envrc

go.work
go.work.sum
test-results/
.clj-kondo/
